* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f1720;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #0b1118;
    padding: 20px;
}

.logo {
    color: #1dd3f8;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    color: #ccc;
}

.sidebar li.active,
.sidebar li:hover {
    background: #121c26;
    color: #1dd3f8;
}

/* MAIN */
.main {
    flex: 1;
    padding: 25px;
}

/* TOP BAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background: #1dd3f8;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: #111b24;
    padding: 20px;
    border-radius: 14px;
}

.card p {
    color: #aaa;
}

.card h3 {
    padding-top: 5px;
}

/* EXPENSE BOX */
.expense-box {
    margin-top: 40px;
    background: #0f1822;
    padding: 20px;
    border-radius: 16px;
}

.expense-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* FORM */
.expense-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 15px;
}

.expense-form input,
.expense-form select {
    padding: 8px;
    background: #1b2633;
    border: none;
    color: white;
    border-radius: 6px;
}

.expense-form button {
    background: #1dd3f8;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.no-spend-btn {
    margin-top: 10px;
    background: #0ea5e9;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

/* SEARCH */
.expense-search {
    margin-top: 15px;
}

.expense-search input {
    width: 100%;
    padding: 8px;
    background: #1b2633;
    border: none;
    color: white;
    border-radius: 6px;
}

/* TABLE */
.expense-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #0f1822;
}

.expense-table th,
.expense-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #233140;
}

.expense-table th {
    color: #1dd3f8;
}

/* FLASH MESSAGES */
.flash.success {
    background: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.flash.danger {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
