<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1 class="title">EXPENSE TRACKER</h1>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="box">
    <h2>REGISTER</h2>

    <form method="POST" action="/register">

        <!-- Username -->
        <label>Username</label>
        <input type="text" name="username" placeholder="Create username" required>

        <!-- Email -->
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>

        <!-- Phone -->
        <label>Phone Number</label>
        <input type="tel" name="phone" placeholder="Enter phone number" pattern="[0-9]{10}" required>

        <!-- Password -->
        <label>Password</label>
        <input type="password" name="passwordp" placeholder="Create password" required>

        <!-- Confirm Password -->
        <label>Confirm Password</label>
        <input type="password" name="passwordc" placeholder="Confirm password" required>

        <button type="submit">Register</button>
    </form>

    <p style="text-align:center; margin-top:12px;">
        Already have an account?
        <a href="/login" class="login-link">Login</a>
    </p>
</div>



</body>
</html>

