
<!DOCTYPE html>
<html>
<head>
    <title>Expense Charts</title>
    <link rel="stylesheet" href="/static/dashboard.css">

</head>
<body>



<!-- HAMBURGER -->
<div class="hamburger" onclick="toggleSidebar()">☰</div>

<div class="container">

    <!-- SIDEBAR -->
    <div class="sidebar" id="sidebar">
        <h2 class="logo">Expanzo</h2>
        <ul>
            <li><a href="/dashboard" style="color:inherit; text-decoration:none;">Dashboard</a></li>
            <li><a href="/transactions" style="color:inherit; text-decoration:none;">Transactions</a></li>
            <li class="active"><a href="/Report_Analysis" style="color:inherit; text-decoration:none;">Report & Analysis</a></li>
            <li><a href="/challenges" style="color:inherit; text-decoration:none;">Challenges</a></li>
            <li><a href="/chatbot" style="color:inherit; text-decoration:none;">Chatbot</a></li>
            <li><a href="/split" style="color:inherit; text-decoration:none;">Split</a></li>
            <li><a href="/settings" style="color:inherit; text-decoration:none;">Settings</a></li>
        </ul>
    </div>

    <!-- MAIN -->
    <div class="main">

        <!-- TOP BAR -->
        <div class="topbar">
            <h2>Expense Charts</h2>
            <a href="{{ url_for('logout') }}">
                <button class="logout">Logout</button>
            </a> 
        </div>

        <!-- CHART SECTION -->
        <div class="expense-box" style="margin-top:30px;">

            <h3 style="margin-bottom:20px;">
                Category-wise Expense Distribution
            </h3>

            <canvas id="expenseChart" height="140"></canvas>

            <p style="margin-top:15px; color:#aaa; font-size:14px;">
                This pie chart shows how expenses are distributed
                across different categories.
            </p>

        </div>

    </div>
</div>

<script src="dashboard.js"></script>


</body>
</html>
